.delete-task {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    cursor: pointer;
    transition: 0.5s;
    user-select: none;

    padding-right: 2vh;
    border-radius: 10px;
    background-color: red;

    p {
        color: white;
        font-family: 'Medium';
    }

    &:hover {
        opacity: 0.8;
    }

    &:active {
        opacity: 0.6;
    }

    svg {
        margin-left: 0.5vw;
        margin-right: 0.5vw;
    }
}