<div class="tool-bar">
    <button (click)="OnBack()">
        <svg width="30" height="30" viewBox="0 0 16 16">
            <path d="M8 0a8 8 0 1 0 0 16A8 8 0 0 0 8 0zm3.5 7.5a.5.5 0 0 1 0 1H5.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L5.707 7.5H11.5z"/>
        </svg>
    </button>
    <app-task-deletion (showDelete)="OnDeleteClick()"></app-task-deletion>
    <app-task-updation (showUpdate)="OnUpdateClick()"></app-task-updation>
</div>
<div class="task-item">
    <app-task-item [task]="task"></app-task-item>
</div>
<app-task-delete *ngIf="deletion" (closeDelete)="OnDeletion($event)"></app-task-delete>
<app-task-update *ngIf="updation" [task]="task" (closeUpdate)="OnUpdation($event)"></app-task-update>
